@use './variables' as *;

@mixin container{
  width: 90%;
  max-width: $container-width;
  margin: 0 auto;
}

// centra in un elemento default both | horizontal | vertical
@mixin centerFlex($type: 'both'){

  display: flex;

  @if $type == 'vertical'{
    align-items: center;
  } @else if $type == 'horizontal'{
    justify-content: center;
  } @else if &type == 'both'{
    align-items: center;
    justify-content: center;
  } 

}